.open-sans{
    font-family: 'Open Sans', sans-serif;
}
.raleway{
    font-family: "Raleway", sans-serif;
}
.bolder{
    font-weight: bolder !important;
}
.normal{
    font-weight: normal !important;
}